<div class="row-fluid clearfix">
<h4 class="title" translate="CHANGE_PASSWORD_HEADING"></h4>
<form class="form-horizontal" name="changePasswordForm" ng-submit="changePassword()" novalidate>
	<div class="form-box" ng-hide="passwordChanged">

		<!-- current password -->
		<div class="form-group">
			<label class="control-label col-sm-3" translate="CURRENT_PASSWORD_LABEL"></label>
			<div class="col-sm-9">
				<input class="form-control" type="password" name="password" ng-model="password" required></input>
				<h5 class="error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required" translate="PASSWORD_REQUIRED" ></h5>
			</div>
		</div>

		<!-- new password -->
		<div class="form-group">
			<label class="control-label col-sm-3" translate="NEW_PASSWORD_LABEL"></label>
			<!-- validation -->
			<div class="col-sm-9">
				<input class="form-control" type="password" name="newPassword" ng-model="newPassword" ng-minlength="REGULATIONS.PASSWORD_MIN_LENGTH" ng-maxlength="REGULATIONS.PASSWORD_MAX_LENGTH" required></input>
				<h5 class="error" ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.required" translate="PASSWORD_REQUIRED"></h5>
				<h5 class="error" ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.minlength" translate="PASSWORD_MIN_LENGTH" translate-values="{minLength: REGULATIONS.PASSWORD_MIN_LENGTH}"></h5>
				<h5 class="error" ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.maxlength" translate="PASSWORD_MAX_LENGTH" translate-values="{maxLength: REGULATIONS.PASSWORD_MAX_LENGTH}"></h5>
			</div>
		</div>

		<!-- confirm new password -->
		<div class="form-group">
			<label class="control-label col-sm-3" translate="RETYPE_PASSWORD_LABEL"></label>
			<!-- validation -->
			<div class="col-sm-9">
				<input class="form-control" type="password" name="newPasswordConfirm" ng-model="newPasswordConfirm" match="newPassword"></input>
				<h5 class="error" ng-show="changePasswordForm.newPasswordConfirm.$dirty && changePasswordForm.newPassword.$valid && changePasswordForm.newPasswordConfirm.$error.match" translate="PASSWORD_NOT_MATCH"></h5>
			</div>
		</div>
	</div>

	<div class="form-box" ng-show="passwordChanged">
		<p translate="CHANGED_SUCCESSFUL_NOTIFICATION"></p>
	</div>

	<!-- submit button -->
	<div class="button-box text-right">
		<button class="btn btn-primary btn-sm" type="submit" ng-hide="passwordChanged" ng-disabled="changePasswordForm.$invalid" translate="CHANGE_PASSWORD_BUTTON_LABEL"></button>
		<button class="btn btn-primary btn-sm" type="button" ng-show="passwordChanged" ng-click="closeDialog()" translate="OK"></button>
		<button class="btn btn-default btn-sm" ng-click="closeDialog()" ng-hide="passwordChanged" translate="CANCEL_BUTTON_LABEL"></button>
	</div>
</form>
</div>