<style type="text/css">
	.register-success {
		margin-top: 100px;
	}

	.register-success .notification-board h1 {
		margin: 20px 0 120px;
	}

	.register-success .notification-board h3, 
	.register-success .notification-board p {
		margin-bottom: 40px;
	}

	.register-success .navigation-board p {
		margin-bottom: 20px;
	}
</style>
<div class="container register-success">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="notification-board">
				<h1>Welcome, {{user.userName}}!</h1>
				<h3>You have been automatically logged into Veazy.</h3>
				<p>Thanks for creating Veazy Account. You can now experience extended features of Veazy like keeping track of your recently tests and display statistics of your ability.</p>
			</div>
			<div class="navigation-board">
				<p><button class="btn btn-lg btn-primary" ui-sref="user.profile">Go to User Profile</button></p>
				<p>Or</p>
				<p><a href="" ui-sref="home">Back to HomePage</a></p>
			</div>
		</div>
	</div>
</div>