<div class="row-fluid clearfix">
<h4 class="title">Report Lesson</h4>
<form name="reportLessonForm" novalidate ng-submit="reportLessonForm.$valid && submitReport()">
	<div class="form-box" ng-hide="reportSent">
		<label>Please tell us the reason why you decided to report this lesson:</label>
		<textarea class="form-control" ng-model="content" required></textarea>
	</div>

	<div class="form-box" ng-show="reportSent">
		<p>Your report has been submitted for review. We truly apologize for this experience.</p>
	</div>
	<div class="button-box text-right">
		<button class="btn btn-primary btn-sm" type="submit" ng-disabled="reportLessonForm.$invalid" ng-hide="reportSent">Report</button>
		<button class="btn btn-default btn-sm" ng-click="closeDialog()" ng-hide="reportSent">Cancel</button>
		<button class="btn btn-default btn-sm" ng-click="closeDialog()" ng-show="reportSent">OK</button>
	</div>
</form>
</div>