<div class="row">
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading clearfix">
				<h4><i class="fa fa-bullseye" aria-hidden="true"></i>&nbsp;{{'STATISTICS_OF_SKILLS_HEADING' | translate}}</h4>
			</div>
			<div class="panel-body">
				<canvas id="radar" class="chart chart-radar" chart-data="skillData" chart-options="options" chart-labels="skillLabels"></canvas> 
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading clearfix">
				<h4><i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;{{'STATISTICS_OF_RECENTLY_TEST_HEADING' | translate}}</h4>
			</div>
			<div class="panel-body">
				<canvas id="line" class="chart chart-line" chart-data="testGradeData" chart-labels="testGradeLabels" chart-options="options" chart-dataset-override="datasetOverride" chart-colours="['#7bc043']"></canvas>  
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				<h4><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;{{'STATISTICS_OF_LEVEL_HEADING' | translate}}</h4>
			</div>
			<div class="panel-body">
				<canvas id="bar" class="chart chart-bar" chart-data="levelData" chart-options="options" chart-labels="levelLabels" chart-colours="['#428bca']"></canvas> 
			</div>
		</div>
	</div>
</div>	
