<div class="container-fluid login">
	<div class="col-md-4 col-md-offset-4">
		<!--login box-->
		<div class="content">
			<!--login heading-->
			<div class="row-fluid header">
				<a href="" class="heading" ui-sref="home"><i class="fa fa-paw"></i>&nbsp;Veazy</a>
			</div>
			<!--login section-->
			<div class="row-fluid section">
				<!--avatar-->
				<div class="row-fluid avatar-wrapper text-center">
					<img src="../img/user-3.png" width="100" height="100">
				</div>
				<!--form box-->
				<div class="row-fluid form-wrapper">
					<form>
						<div class="form-group">
							<input class="form-control text-center" type="text" placeholder="ユーザー名"></input>
						</div>
						<div class="form-group">
							<input class="form-control text-center" type="email" placeholder="メール"></input>
						</div>
						<div class="form-group">
							<input class="form-control text-center" type="password" placeholder="パスワード"></input>
						</div>
						<div class="form-group">
							<input class="form-control text-center" type="password" placeholder="パスワード再入力"></input>
						</div>
						<div class="form-group clearfix">
							<!-- <button class="chubby-btn chubby-btn-alt pull-right" type="submit"><span>ログイン</span></button> -->
							<button class="btn btn-success pull-right" type="submit">登録</button>
							<h5 class="error">誤り！</h5>
							<a href="" ui-sref="login"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;ログインページへ</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>