/* Toggle Styles */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 230px;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 230px;
    width: 0;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background: .000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #2a3f54;
}

.wrapper.toggled .sidebar-wrapper {
    width: 230px;
}

.page-content-wrapper {
    width: 100%;
    /*position: absolute;*/
    padding: 15px;
}

.wrapper.toggled .page-content-wrapper {
    /*position: absolute;*/
    /*margin-right: -230px;*/
}

/* Sidebar Styles */
.sidebar-nav {
    /*position: absolute;*/
    /*top: 0;*/
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav a {
    color: #E7E7E7;
    font-weight: 500;
}

.sidebar-nav > li > a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 13px 15px 12px;
    margin-bottom: 6px;
}

.sidebar-nav li a:hover {
    /*text-decoration: none;*/
    background: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	background: none;
    /*text-decoration: none;*/
}

.sidebar-nav > li.active {
    border-right: 5px solid #1ABB9C;
}
.sidebar-nav > li.active > a {
    text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
}

/*sidebar brand*/
.sidebar-nav > .sidebar-brand {
    /*height: 65px;*/
    font-size: 22px;
    /*line-height: 60px;*/
}

.sidebar-nav > .sidebar-brand a {
    color: .999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    /*color: #fff;*/
    background: none;
}

.sidebar-nav > .sidebar-brand a > i {
	border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: 22px;
}

.sidebar-nav .fa {
    opacity: .99;
    display: inline-block;
/*    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;*/
    -webkit-font-smoothing: antialiased;
}

.sidebar-nav > li:not(:first-child) > a > .fa {
	width: 26px;
    font-size: 18px;
}

.sidebar-nav > li:not(:first-child) > a > .fa.fa-chevron-down {
	margin-top: 5px;
	margin-right: 5px;
	font-size: 10px;
	color: #C4CFDA;
	text-align: right;
}

.sidebar-nav > li.active:not(:first-child) > a > .fa.fa-chevron-down {
	margin-right: 0;
}

/*Child menu*/
.sidebar-nav .nav.child-menu > li {
	padding-left: 36px;
}
.sidebar-nav .nav.child-menu > li:hover,
.sidebar-nav .nav.child-menu > li:focus {
	background-color: rgba(255,255,255,0.06);
}
.sidebar-nav .nav.child-menu > li > a {
    color: rgba(255,255,255,0.75);
    font-size: 12px;
    padding: 9px;
}

.sidebar-nav .nav.child-menu > li {
}

.sidebar-nav .nav.child-menu > li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

.sidebar-nav .nav.child-menu > li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

/*profile img*/
.profile-img-wrapper {
	width: 35%;
	float: left;
}

.profile-img {
	width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    border: 1px solid rgba(52,73,94,0.44);
    padding: 4px;
    border-radius: 50%;
}

.profile-info {
    padding: 15px 10px 15px;
    width: 65%;
    float: left;
}

.profile-info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8;
}

.profile-info h2 {
	font-size: 14px;
	color: #ECF0F1;
	font-weight: 400;
    margin: 0;
}

.occupation h5 {
	color: #fff;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 12px;
    margin: 0;
}

.sidebar-wrapper .mCSB_scrollTools {
    width: 6px;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 230px;
    }

    .wrapper.toggled {
        padding-left: 0;
    }

    .sidebar-wrapper {
        width: 230px;
    }

    .wrapper.toggled .sidebar-wrapper {
        width: 0;
    }

    .page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}