<div class="container-fluid add-question">
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" ng-submit="submitNewQuestion()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 translate="ADD_QUESTION_HEADING"></h4>
				</div>
				<div class="panel-body">
					<div class="col-md-10 col-md-offset-1">
						<!--question type select box-->
						<div class="form-group">
							<label class="control-label col-sm-2" translate="QUESTION_TYPE_LABEL"></label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="selectedQuestionType" ng-options="type as type.name | translate for type in questionTypes track by type.id" ng-change="toggleQuestionType()"></select>
							</div>
						</div>
						<!--level select box-->
						<div class="form-group">
							<label class="control-label col-sm-2" translate="LEVEL_LABEL"></label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="selectedLevel" ng-options="level as level.name | translate for level in levels track by level.id"></select>
							</div>
						</div>
						<!--test skill select box-->
						<div class="form-group">
							<label class="control-label col-sm-2" translate="TEST_SKILL_LABEL"></label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="selectedTestSkill" ng-options="skill as skill.name | translate for skill in testSkills track by skill.id"></select>
							</div>
						</div>

						<!--single question-->
						<div ng-show="selectedQuestionType.id === CODE.SINGLE_QUESTION_TYPE">
							<!--question content-->
							<div class="form-group">
								<label class="control-label col-sm-2" translate="QUESTION_LABEL"></label>
								<div class="col-sm-10">
									<textarea class="form-control" ng-model="content" placeholder="{{'QUESTION_PLACEHOLDER' | translate}}"></textarea>
								</div>
							</div>
							<!--answer content-->
							<div class="form-group">
								<label class="control-label col-sm-2" translate="ANSWERS_LABEL"></label>
								<div class="col-sm-10">
									<div class="row-fluid" ng-repeat="answer in listAnswers track by $index">
										<div class="form-group">
											<!--check if the answer is correct-->
											<div class="col-sm-1 clearfix">
												<checkbox ng-model="answer.isRight" ng-init="answer.isRight = false" ng-class="{'btn-success': answer.isRight}"></checkbox>
											</div>
											<!--answer content-->
											<div class="col-sm-11">
												<div class="input-group">
													<input type="text" class="form-control" ng-model="answer.answer" translate translate-attr-placeholder="ANSWER_PLACEHOLDER" translate-value-index="{{$index + 1}}"></input>
													<span class="input-group-btn">
														<button class="btn btn-secondary btn-danger" type="button" ng-disabled="listAnswers.length === MIN_ANSWER_NUMBER" ng-click="removeAnswer(listAnswers, $index)" uib-tooltip="{{'REMOVE_ANSWER_TOOLTIP' | translate}}" tooltip-append-to-body="true" tooltip-placement="right" ><span class="glyphicon glyphicon-remove"></span></button>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--button for adding answer into question-->
							<div class="form-group">
								<div class="col-sm-12 text-right">
									<button class="btn btn-primary" type="button" ng-click="addAnswer(listAnswers)" uib-tooltip="{{'ADD_ANSWER_TOOLTIP' | translate}}" tooltip-append-to-body="true" tooltip-placement="right"><span class="glyphicon glyphicon-plus"></span></button>
								</div>
							</div>
						</div>

						<!--group question-->
						<div ng-show="selectedQuestionType.id === CODE.GROUP_QUESTION_TYPE">
							<!--shared content-->
							<div class="form-group">
								<label class="control-label col-sm-2" translate="SHARED_CONTENT_LABEL"></label>
								<div class="col-sm-10">
									<textarea froala="froalaOptions" ng-model="sharedContent"></textarea>
								</div>
							</div>

							<!--questions in group-->
							<div class="form-group" ng-repeat="question in questions track by $index">
								<label class="control-label col-sm-2">
									<div>
										<label translate="QUESTION_IN_GROUP_LABEL" translate-values="{index: $index + 1}"></label>
									</div>
									<!--button for removing question-->
									<div>
										<button class="btn btn-danger remove-question" type="button" ng-disabled="questions.length === MIN_QUESTION_NUMBER_IN_GROUP" ng-click="removeQuestion(questions, $index)" uib-tooltip="{{'REMOVE_QUESTION_TOOLTIP' | translate}}" tooltip-append-to-body="true" tooltip-placement="right"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</label>
								<div class="col-sm-10">
									<div class="form-group">
										<!--question content-->
										<div class="col-sm-12">
											<textarea class="form-control" ng-model="question.question" translate translate-attr-placeholder="QUESTION_IN_GROUP_PLACEHOLDER" translate-value-index="{{$index + 1}}"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<div class="row-fluid clearfix" ng-repeat="answer in question.listAnswers track by $index">
												<div class="form-group">
													<!--check if the answer is correct-->
													<div class="col-sm-1 clearfix">
														<checkbox ng-model="answer.isRight" ng-init="answer.isRight = false" ng-click="toggleCorrectAnswer(answer)" ng-class="{'btn-success': answer.isRight}"></checkbox>
													</div>
													<!--answer content-->
													<div class="col-sm-11">
														<div class="input-group">
															<input type="text" class="form-control" ng-model="answer.answer" translate translate-attr-placeholder="ANSWER_PLACEHOLDER" translate-value-index="{{$index + 1}}"></input>
															<span class="input-group-btn">
																<button class="btn btn-secondary btn-danger" type="button" ng-disabled="question.listAnswers.length === MIN_ANSWER_NUMBER" ng-click="removeAnswer(question, $index)" uib-tooltip="{{'REMOVE_ANSWER_TOOLTIP' | translate}}" tooltip-append-to-body="true" tooltip-placement="right"><span class="glyphicon glyphicon-remove"></span></button>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--button for adding answer into question in group-->
									<div class="form-group">
										<div class="col-sm-12 text-right">
											<button class="btn btn-primary" type="button" ng-click="addAnswer(question.listAnswers)" uib-tooltip="{{'ADD_ANSWER_TOOLTIP' | translate}}" tooltip-append-to-body="true" tooltip-placement="right"><span class="glyphicon glyphicon-plus"></span></button>
										</div>
									</div>
								</div>
							</div>
							<!--button for adding question into group-->
							<div class="form-group">
								<div class="col-sm-10">
									<button class="btn btn-primary" type="button" ng-click="addQuestion(questions)" uib-tooltip="{{'ADD_QUESTION_TOOLTIP' | translate}}" tooltip-append-to-body="true" tooltip-placement="right"><span class="glyphicon glyphicon-plus"></span></button>
								</div>
							</div>
						</div>

						<!--file attachment-->
						<div class="form-group" ng-show="selectedTestSkill.id === CODE.LISTENING_SKILL">
							<label class="control-label col-sm-2">{{'FILE_ATTACHMENT_LABEL' | translate}}</label>
							<div class="col-sm-10">
								<!-- <input type="text" class="form-control"></input> -->
								<audio ng-if="selectedTestSkill.id === CODE.LISTENING_SKILL" controls ng-src="{{attachment}}"></audio>
								<input file-input type="file" class="file" data-show-preview="false" nv-file-select uploader="uploader" filters="audio">
							</div>
						</div>

						<!-- <div class="form-group">
							<p class="col-sm-10 col-sm-offset-2 msg-error" ng-show="uploadErrorMsg" translate="{{uploadErrorMsg}}"></p>
						</div> -->

						<!-- time duration -->
						<div class="form-group" ng-hide="selectedTestSkill.id === CODE.LISTENING_SKILL">
							<label class="control-label col-sm-2" translate="TIME_ALLOWED_LABEL"></label>
							<div class="col-sm-10">
								<div class="input-group date" datetimepicker ng-model="vm.date" options="vm.options">
									<input type="text" class="form-control" onkeydown="return false"/>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<p class="col-sm-10 col-sm-offset-2 msg-error" ng-show="errorMsg" translate="{{errorMsg}}"></p>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<!--submit button-->
					<button class="btn btn-success" type="submit" translate="CREATE_BUTTON_LABEL"></button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>