<div class="container-fluid report-list">
	<div class="row">
		<div class="col-md-12">

			<!-- report list -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 translate="REPORT_LIST"></h4>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<tbody>
							<tr ng-repeat="report in reportList">
								<td class="col-md-10">

									<!-- english ver -->
									<span ng-if="currentLang == 'en'">

										<!-- report lesson -->
										<span ng-if="report.lessonId">
											On {{report.createDate | date}}, user {{report.username}} wrote a report about  <a ui-sref="editor.lesson.detail({id: report.lessonId})"> a lesson named {{report.lesonTitle}}</a>: <cite>"{{report.content}}"</cite>.
										</span>

										<!-- report question -->
										<span ng-if="report.questionId">
											On {{report.createDate | date}}, user {{report.username}} wrote a report about <a ui-sref="editor.question.detail({questionId: report.questionId})">a question</a>: <cite>"{{report.content}}"</cite>.
										</span>
									</span>

									<!-- japanese ver -->
									<span ng-if="currentLang == 'ja'">
										<!-- report lesson -->
										<span ng-if="report.lessonId">
											{{report.createDate | date: 'yyyy年MM月dd日'}}に、 {{report.username}}というユーザーは、｢<cite>{{report.content}}</cite>｣と<a ui-sref="editor.lesson.detail({id: report.lessonId})">｢{{report.lesonTitle}}｣というレッソン</a>について報告しました。
										</span>

										<!-- report question -->
										<span ng-if="report.questionId">
											{{report.createDate | date: 'yyyy年MM月dd日'}}に、 {{report.username}}というユーザーは、｢<cite>{{report.content}}</cite>｣と<a ui-sref="editor.question.detail({questionId: report.questionId})">１つの質問</a>について報告しました。
										</span>
									</span>
								</td>
								<td class="col-md-2 text-right">
									<button class="btn btn-sm btn-primary" translate="MARK_AS_CHECKED_BUTTON_LABEL"></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- pagination -->
			<div class="text-center">
				<uib-pagination class="pagination" total-items="reportList.length" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
			</div>
		</div>
	</div>
</div>