<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http auto-config="false" use-expressions="true" create-session="always"
            entry-point-ref="loginUrlAuthenticationEntryPoint" >
        <intercept-url pattern="/register" access="!isAuthenticated()" />
        <intercept-url pattern="/login" access="!isAuthenticated()" />
        <intercept-url pattern="/api/register" access="!isAuthenticated()" />
        <intercept-url pattern="/api/login" access="isAuthenticated()" />
        <!-- <intercept-url pattern="/api/editor**" access="hasRole('2')" />
        <intercept-url pattern="/api/cm**" access="hasRole('3')" />
        <intercept-url pattern="/api/admin**" access="hasRole('4')" /> -->
        <intercept-url pattern="/api/users/**" access="isAuthenticated()" />
        <!-- <intercept-url pattern="/**" access="permitAll()" /> -->
        <custom-filter ref="veazyAuthenFilter" position="FORM_LOGIN_FILTER" />
        <session-management session-fixation-protection="migrateSession"/>
        <!-- <remember-me data-source-ref="dataSource" token-validity-seconds="86400"/> 1 day -->
        <csrf disabled="true" />
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="veazyAuthenProvider" />
    </authentication-manager>

</beans:beans>