<!-- Sidebar -->
<div class="sidebar-wrapper">
	<ul class="sidebar-nav">
		<!-- Brand -->
		<li class="sidebar-brand">
			<a href="">
				<i class="fa fa-paw"></i>
				<span>Veazy</span>
			</a>
		</li>
		<!-- Profile -->
		<li class="profile clearfix">
			<div class="clearfix">
				<div class="profile-img-wrapper">
					<img src="../bower_components/gentelella/production/images/img.jpg" alt="..." class="profile-img">
				</div>
				<div class="profile-info">
					<span>Welcome,</span>
					<h2>John Doe</h2>
				</div>
			</div>
			<div class="occupation">
				<h5>Content Editor</h5>
			</div>
		</li>
		<!-- Menu -->
<!-- 		<li>
			<a href=""><i class="fa fa-home"></i>Home</a>
		</li> -->
		<li>
			<a href=""><i class="fa fa-book"></i>Lessons<span class="fa fa-chevron-down pull-right"></span></a>
			<ul class="nav child-menu">
				<li><a href="">Lesson List</a></li>
				<li><a ui-sref="editordashboard.addlesson">Add Lesson</a></li>
			</ul>
		</li>
		<li>
			<a href=""><i class="fa fa-question-circle"></i>Questions<span class="fa fa-chevron-down pull-right"></span></a>
			<ul class="nav child-menu">
				<li><a ui-sref="editordashboard.questionlist">Question List</a></li>
				<li><a ui-sref="editordashboard.addquestion">Add Question</a></li>
			</ul>
		</li>
		<li>
			<a href=""><i class="fa fa-file-word-o"></i>Articles<span class="fa fa-chevron-down pull-right"></span></a>
			<ul class="nav child-menu">
				<li><a href="">Article List</a></li>
				<li><a href="">Add Article</a></li>
			</ul>
		</li>
		<li><a href=""><i class="fa fa-tags"></i>Tasks</a></li>
	</ul>
</div>