<style type="text/css">
	.question-list {
		padding-top: 20px;
	}

	.question-list h1 {
		margin-bottom: 40px;
	}

	.question-list table a:hover {
		text-decoration: underline;
	}
</style>

<div class="container-fluid question-list">
	<div class="row">
		<div>
			<h1>Question List</h1>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>ID</th>
						<th>Content</th>
						<th>Type</th>
						<th>Level</th>
						<th>Skill</th>
						<th>Created on</th>
						<th>Last update</th>
						<th>Management</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>12345</td>
						<td><a href="">See content</a></td>
						<td>Single</td>
						<td>Beginner</td>
						<td>Vocabulary</td>
						<td>2015 June 3rd</td>
						<td>2016 July 4th</td>
						<td>
							<a href="">Edit</a>
							<a href="">Delete</a>
						</td>
					</tr>

					<tr>
						<td>2</td>
						<td>12346</td>
						<td><a href="">See content</a></td>
						<td>Single</td>
						<td>Beginner</td>
						<td>Vocabulary</td>
						<td>2015 June 3rd</td>
						<td>2016 July 4th</td>
						<td>
							<a href="">Edit</a>
							<a href="">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>