<div class="row-fluid clearfix">
<h4 class="title">{{user.userName}}</h4>
<form class="form-horizontal">
	<div class="form-box">
		<table class="table table-hover">
			<tr>
				<td><label translate="OCCUPATION_LABEL"></label></td>
				<td>{{(user.role | role ) | translate}}</td>
			</tr>
			<tr>
				<td><label translate="FIRSTNAME_LABEL"></label></td>
				<td>{{user.firstName}}</td>
			</tr>
			<tr>
				<td><label translate="LASTNAME_LABEL"></label></td>
				<td>{{user.lastName}}</td>
			</tr>
			<tr>
				<td><label translate="BIRTHDAY_LABEL"></label></td>
				<td>{{user.dob | dateFormat}}</td>
			</tr>
			<tr>
				<td><label translate="ADDRESS_LABEL"></label></td>
				<td>{{user.address}}</td>
			</tr>
			<tr>
				<td><label translate="HOBBY_LABEL"></label></td>
				<td>{{user.hobby}}</td>
			</tr>
			<tr>
				<td><label translate="ABOUT_ME_LABEL"></label></td>
				<td>{{user.bio}}</td>
			</tr>
			<tr>
				<td><label translate="FAVORITE_QUOTE"></label></td>
				<td>{{user.quote}}</td>
			</tr>
			<tr>
				<td><label translate="WEBSITE_LABEL"></label></td>
				<td><a ng-href="http://{{user.website}}">{{user.website}}</a></td>
			</tr>
		</table>
	</div>
	<div class="button-box text-right">
		<button class="btn btn-success btn-sm" ng-click="" translate="ASSIGN_AS_EDITOR_BUTTON_LABEL"></button>
		<button class="btn btn-primary btn-sm" ng-click="" translate="ASSIGN_AS_ADMIN_BUTTON_LABEL"></button>
		<button class="btn btn-danger btn-sm" ng-click="" translate="BAN_BUTTON_LABEL"></button>
		<button class="btn btn-default btn-sm" ng-click="closeDialog()" translate="CANCEL_BUTTON_LABEL"></button>
	</div>
</form>
</div>