<div class="row-fluid clearfix">
<h4 class="title">Crimson</h4>
<form class="form-horizontal">
	<div class="form-box">
		<table class="table table-hover">
			<tr>
				<td><label translate="OCCUPATION_LABEL"></label></td>
				<td>User</td>
			</tr>
			<tr>
				<td><label translate="FIRSTNAME_LABEL"></label></td>
				<td>Duy</td>
			</tr>
			<tr>
				<td><label translate="LASTNAME_LABEL"></label></td>
				<td>Nguyen</td>
			</tr>
			<tr>
				<td><label translate="BIRTHDAY_LABEL"></label></td>
				<td>June 24, 1996</td>
			</tr>
			<tr>
				<td><label translate="ADDRESS_LABEL"></label></td>
				<td>Oxford, England</td>
			</tr>
			<tr>
				<td><label translate="HOBBY_LABEL"></label></td>
				<td>Coding</td>
			</tr>
			<tr>
				<td><label translate="ABOUT_ME_LABEL"></label></td>
				<td>Introvert</td>
			</tr>
			<tr>
				<td><label translate="FAVORITE_QUOTE"></label></td>
				<td>Like a g6!</td>
			</tr>
			<tr>
				<td><label translate="WEBSITE_LABEL"></label></td>
				<td><a href="">www.facebook.com/crimson</a></td>
			</tr>
		</table>
	</div>
	<div class="button-box text-right">
		<button class="btn btn-success btn-sm" ng-click="" translate="ASSIGN_AS_EDITOR_BUTTON_LABEL"></button>
		<button class="btn btn-primary btn-sm" ng-click="" translate="ASSIGN_AS_ADMIN_BUTTON_LABEL"></button>
		<button class="btn btn-danger btn-sm" ng-click="" translate="BAN_BUTTON_LABEL"></button>
		<button class="btn btn-default btn-sm" ng-click="closeDialog()" translate="CANCEL_BUTTON_LABEL"></button>
	</div>
</form>
</div>