<div class="container-fluid">
	<!-- filter panel -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 translate="SHOW_ONLY_USER_WHERE_HEADING"></h3>
					<form class="form-horizontal">
						<!-- role selector -->
						<div class="form-group">
							<label class="col-sm-2 control-label" translate="ROLE_LABEL"></label>
							<div class="col-sm-2">
								<select class="form-control input-sm"></select>
							</div>
						</div>

						<!-- status selector -->
						<div class="form-group">
							<label class="col-sm-2 control-label" translate="STATUS_LABEL"></label>
							<div class="col-sm-2">
								<select class="form-control input-sm"></select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-1 col-sm-offset-2">
								<button type="submit" class="btn btn-primary btn-sm btn-block" translate="FILTER_BUTTON_LABEL"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- user list -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th translate="USERNAME_LABEL"></th>
								<th translate="STATUS_LABEL"></th>
								<th translate="ROLE_LABEL"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>3</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>3</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>