<veazy-header></veazy-header>
<div id="contenthome" scroll-reveal>
    <div id="calltoaction">
        <div class="jumbotron">
            <h1 translate="WELCOME_HEADING"></h1>
            <p></p>
            <a href="#" class="btn btn-lg btn-success sr-button" ng-hide="username" translate="SIGN_UP_BUTTON_LABEL" ui-sref="register.form"></a>
        </div>
    </div>

    <!--Feature1-->
    <div id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-heading text-center">Veazy?</h2>
                    <hr class="light">
                    <p class="lead" translate="EXPLANATION_PARAGRAPH"></p>
                </div>
                <div class="col-sm-6">
                <section class="slider">
                    <div class="flexslider" flex-slider>
                      <ul class="slides">
                        <li>
                            <img src="./img/notebook_write_watch_pen_67636_1920x1080.jpg" />
                          <!-- <p class="flex-caption">Adventurer Cheesecake Brownie</p> -->
                            </li>
                            <li>
                            <img src="./img/book_of_life-wallpaper-1920x1080.jpg" />
                          <!-- <p class="flex-caption">Adventurer Lemon</p> -->
                            </li>
                            <li>
                            <img src="./img/macbook_apple_laptop_camera_cup_99153_1920x1080.jpg" />
                          <!-- <p class="flex-caption">Adventurer Donut</p> -->
                            </li>
                            <li>
                            <img src="./img/laptop-wallpaper-1920x1080.jpg" />
                          <!-- <p class="flex-caption">Adventurer Caramel</p> -->
                            </li>
                      </ul>
                    </div>
                  </section>
                </div>
            </div>
        </div>
    </div>
    <!--End Feature 1->

    <!--Feature2-->
    <div id="feature2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 translate="FEATURE_HEADING"></h2>
                    <hr class="dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-tv text-primary sr-icon"></i>
                        <!-- <i class="glyphicon fa fa-4x glyphicon-blackboard text-primary sr-icon"></i> -->
                        <h3 translate="COURSE_HEADING"></h3>
                        <p class="text-muted" translate="EXAM_INTRO"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil text-primary sr-icon"></i>
                        <h3 translate="EXAM_HEADING"></h3>
                        <p class="text-muted" translate="EXAM_INTRO"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-book text-primary sr-icon"></i>
                        <h3 translate="DICTIONARY_HEADING"></h3>
                        <p class="text-muted" translate="DICTIONARY_INTRO"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart text-primary sr-icon"></i>
                        <h3 translate="STATISTICS_HEADING"></h3>
                        <p class="text-muted" translate="STATISTICS_INTRO"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Feature 2-->

    <!--Feature3-->
    <div id="feature3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 translate="TEAM_HEADING"></h2>
                    <hr class="dark">
                </div>
            </div>
            <div class="row">
                <ul class="polaroids clearfix">
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                             
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                             
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                             
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                             
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                             
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                            
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="Yay">
                             <img src="./img/photo-2.png" class="img-responsive">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Feature3-->

    <!-- Feature4-->
    <!-- <div id="feature4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <hr class="dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div> -->
    <!--End Feature4-->
</div>
<div id="footer">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        Copyright &copy; Veazy Company
                    </div>
                </div>
            </div>
        </div>
</div>