<veazy-header></veazy-header>
<div id="contenthome" scroll-reveal>
    <div id="calltoaction">
        <div class="jumbotron">
            <h1 translate="WELCOME_HEADING"></h1>
            <p></p>
            <a href="#" class="btn btn-lg btn-success sr-button" ng-hide="username" translate="SIGN_UP_BUTTON_LABEL" ui-sref="register.form"></a>
        </div>
    </div>

    <!--Feature1-->
    <div id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-heading text-center">Veazy?</h2>
                    <hr class="light">
                    <p class="lead" translate="EXPLANATION_PARAGRAPH"></p>
                </div>
                <div class="col-sm-6">
                <section class="slider">
                    <div class="flexslider" flex-slider>
                      <ul class="slides">
                        <li>
                            <img src="./img/notebook_write_watch_pen_67636_1920x1080.jpg" />
                            </li>
                            <li>
                            <img src="./img/book_of_life-wallpaper-1920x1080.jpg" />
                            </li>
                            <li>
                            <img src="./img/macbook_apple_laptop_camera_cup_99153_1920x1080.jpg" />
                            </li>
                            <li>
                            <img src="./img/laptop-wallpaper-1920x1080.jpg" />
                            </li>
                      </ul>
                    </div>
                  </section>
                </div>
            </div>
        </div>
    </div>
    <!--End Feature 1->

    <!--Feature2-->
    <div id="feature2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 translate="FEATURE_HEADING"></h2>
                    <hr class="dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-tv text-primary sr-icon"></i>
                        <h3 translate="COURSE_HEADING"></h3>
                        <p class="text-muted" translate="EXAM_INTRO"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil text-primary sr-icon"></i>
                        <h3 translate="EXAM_HEADING"></h3>
                        <p class="text-muted" translate="EXAM_INTRO"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart text-primary sr-icon"></i>
                        <h3 translate="STATISTICS_HEADING"></h3>
                        <p class="text-muted" translate="STATISTICS_INTRO"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-language text-primary sr-icon"></i>
                        <h3 translate="MULTI_LANG_HEADING"></h3>
                        <p class="text-muted" translate="MULTI_LANG_INTRO"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Feature 2-->

    <!--Feature3-->
    <div id="feature3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 translate="TEAM_HEADING"></h2>
                    <hr class="dark">
                </div>
            </div>
            <div class="row">
                <ul class="polaroids clearfix">
                    <li class="col-sm-3">
                        <a href="" title="SangNV">
                            <img src="./img/team-member/sangnv.jpg" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="{{'MINH_NN_LABEL' | translate}}">
                            <img src="./img/team-member/minhnn.jpg" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="{{'TUNG_DT_LABEL' | translate}}">
                            <img src="./img/team-member/tungdt.jpg" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="{{'LINH_NH_LABEL' | translate}}">
                            <img src="./img/team-member/linhnh.jpg" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="{{'THANG_PD_LABEL' | translate}}">
                            <img src="./img/team-member/thangpd.jpg" class="img-responsive"> 
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="{{'QUAN_NH_LABEL' | translate}}">
                            <img src="./img/team-member/quannh.jpg" class="img-responsive"> 
                        </a>
                    </li>
                    <li class="col-sm-3">
                        <a href="" title="{{'DUY_NT_LABEL' | translate}}">
                            <img src="./img/team-member/duynt.jpg" class="img-responsive">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Feature3-->
</div>
<veazy-footer></veazy-footer>