@-moz-document url-prefix() {
    .add-question .checkbox-inline {
		display: block;;
	}
}

.add-question h1 {
	margin: 40px 0;
}

.add-question button.remove-question {
	margin: 15px 25px;
	margin-left: 0;
}

.add-question .control-label {
	text-align: left;
}

.add-question .fr-placeholder {
	height: 30px !important;
}

.add-question .input-group-btn > .btn {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.add-question .btn-box {
	padding: 20px 0;
}