/*-----------------------------------*/
/* input */
/*-----------------------------------*/
.login input[type=text],
.login input[type=email],
.login input[type=password] {
	height: 40px;
	text-align: center;
	background-color: #fafafa;
	border: 1px solid #ccc;
	box-shadow: none;
}
.login input[type=text]:focus,
.login input[type=email]:focus,
.login input[type=password]:focus {
	background-color: #eee;
}

/*-----------------------------------*/
/* h5 */
/*-----------------------------------*/
.login h5 {
	font-size: inherit;
}

.login h5.error {
	margin: 0 0 10px;
	color: red;
}

.login .outer h5 {
	margin: 10px 0 30px;
}

/*-----------------------------------*/
/* hr */
/*-----------------------------------*/
.login hr {
	border-color: rgba(216, 216, 216, 0.71);
}

/*-----------------------------------*/
/* a */
/*-----------------------------------*/
.login a.heading {
	font-size: 40px;
	/*color: #000;*/
	text-decoration: none;
	color: #f87600;
}
/*.login a.heading:hover,
.login a.heading:focus {
	color: #f87600;
}*/

.login a.facebook,
.login a.google {
	font-size: 24px;
	margin: 0 15px;
}
.login a.facebook:hover,
.login a.facebook:active {
	color: #395899;
}
.login a.google:hover,
.login a.google:active {
	color: #dd4b39;
}

.login button[type=submit] {
	padding: 8px 20px;
}

/*-----------------------------------*/
/* Sections */
/*-----------------------------------*/
.login {
	padding-top: 120px;
}

.login.register {
	padding-top: 70px;
}

.login .content {
	background-color: #fff;
	border: 1px solid #d8d8d8;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	border-radius: 10px;
	padding: 0;
}

.login .header {
	padding: 20px 25px;
}

.login .section {
	padding: 0 30px;
}

.login .avatar-wrapper {
	padding-top: 10px;
	padding-bottom: 20px;
}

.login .outer {
	text-align: center;
	padding: 20px 0;
}

/*-----------------------------------*/
/* Validation Effect */
/*-----------------------------------*/
.login input.ng-invalid.ng-dirty {
	/*border-color: #d9534f !important;*/
	border-color: #F44336;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(228, 118, 110);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(228, 118, 110);
}

.login input.ng-valid.ng-dirty {
	/*border-color: #5cb85c !important;*/
	border-color: #4CAF50;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(166, 208, 117);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(166, 208, 117);
}


