/*=== heading ===*/
.test h1.title {
	margin: 30px 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(204, 204, 204);
}

.test h4.title {
	font-weight: 700;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*=== ul ===*/
.test .question-list {
	padding: 0 15px 0 20px;
}

.test .question-list > li {
	padding: 10px 0;
}

.test .taken-test-list {
	padding: 0;
}

/*=== button ===*/
.test .test-submit-btn {
	padding: 6px 22px;
	margin-bottom: 30px;
}

/*=== div ===*/
.test {
	padding-top: 115px;
	padding-bottom: 15px;
}

.test .left {
	padding: 0;
	margin-bottom: 15px;
}

.test .left .test-content {
	background-color: #fcfcfc;
	border: 1px solid #eee;
}

.test .left .checkbox label {
	cursor: default;
}

.test .btn[disabled] {
	cursor: default;
}

.test .test-info {
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	padding: 10px 15px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.test .test-info h5 {
	margin: 0;
}

.test .true-answer {
	color: green;
	font-weight: 700 !important;
}

.test .wrong-answer {
	color: red;
	/*font-weight: 700 !important;*/
	text-decoration: line-through;
}

.test .reading-content {
	margin: 0 15px 10px;
}

.test .question-grade {
	padding-left: 40px;
	font-weight: 700;
}

.test .error {
	margin: 10px 0;
	color: red;
}


.test .right {
	padding-right: 0;
}

.test .right .wrapper {
	background-color: #fcfcfc;
	padding: 20px;
	margin-bottom: 15px;
	border: 1px solid #eee;
}

.test .right .form-box {
	padding: 10px;
}

@media(max-width: 920px) {
	.test .left {
		padding-right: 0;
	}

	.test .right {
		padding-left: 0;
	}
}